@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>BOOK 4 YOU</h3>


<div class="clearfix">
    <div class="col-md-6">
        <h4>Team: Alex Niklev, Antonio Iliev, Nevena Nikolova</h4>
        <h4>Project Features:</h4>
        <p>
            Following the project requirements, we decided to create a book library.
            The books in the library have title, author, genre and availability status.
            The library has users with names, addresses and a collection of taken books.
            The project implements the following commands: Create Book, Add User, Add Book,
            Remove Book, Find Book by Title/ by Author/ by Genre, Show books by User.
        </p>
    </div>
</div>