@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Telerik Academy<br />
    Sofia, Mladost 1<br />
    <abbr title="Phone">P:</abbr>
    +359 2 235 658
</address>

<address>
    <strong>GitLab URL:</strong> <a href="https://gitlab.com/Antonio.Iliev/book4you.git">Book 4 You</a><br />
    <strong>Trello URL:</strong> <a href="https://trello.com/b/i9XaBJnS/library-management-system">Library Management System</a>
</address>
