@model IEnumerable<BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<br />

<div>
    @(Html.Kendo().Grid<BookViewModel>()
    .Name("Books")
    .Columns(c =>
    {
        c.Bound(m => m.Title)
            .ClientTemplate("<a href='" + Url.Action("Details", "Books") + "?bookId=#= Id #'" + ">#= Title #</a>");
        c.Bound(m => m.Genre);
        c.Bound(m => m.Author);
        if (User.Identity.IsAuthenticated)
        {
            c.Bound(m => m.BooksInStore).Title("Books In Store");
        }
    })
    .ColumnMenu()
    .Sortable()
    .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
    .Filterable(c =>
    {
        c.Mode(GridFilterMode.Menu);
    })
    .DataSource(source =>
    {
        source.Ajax().Read(c =>
        {
            c.Action("ReadGridBooks", "Home");            
        });
        
        
    })

    )
</div>
