@model BookViewModel

<h2>Book Details</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src=@Model.ImageUrl alt="Book Cover" class="img-responsive" /></td>
            <td>@Model.Title</td>
            <td>@Model.Author</td>
            <td>@Model.Genre</td>
            <td>
                <div>
                    <a class="btn-default" asp-controller="User" asp-action="Details" asp-route-title="@Model.Title">
                        Book Details
                    </a>
                </div>
            </td>
            <td valign="middle">
                @if (Model.BooksInStore > 0)
                {
                    <button type="button" class="btn btn-primary">Available</button>
                }
                else
                {
                    <div class="bg-warning">Not available</div>
                }

            </td>
        </tr>
    </tbody>
</table>