@model UserViewModel

<h2>@Model.FirstName's library</h2>
<div class="clearfix">
    <div class="col-md-4">
        <h4>My borrowed books:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userBook in Model.UsersBooks)
                {
                    <tr>
                        @if (!userBook.IsReturn)
                        {
                            <td>@userBook.Book.Title</td>
                            <td>
                                <form asp-controller="User" asp-action="ReturnBook" asp-route-bookId="@userBook.Book.Id" method="post">
                                    <button type="submit" class="btn bg-danger">Return book</button>
                                </form>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <h4>The books I read:</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userBook in Model.UsersBooks)
                {
                    <tr>
                        @if (userBook.IsReturn)
                        {
                            <td>@userBook.Book.Title</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

