@model ErrorViewModel

<h1 class="text-danger"><strong>OOPS!</strong></h1>
<h2 class="text-danger">Something Happened.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<br/>
<a asp-area="" asp-controller="Home" asp-action="Index"
   class="btn btn-sm btn-lg active" role="button">Click here</a> to fix the problem!