@model BookViewModel

<h2>More details for book @Model.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-md-2">Cover</th>
            <th class="col-md-2">Title</th>
            <th class="col-md-2">Author</th>
            <th class="col-md-2">Genre</th>
            <th class="col-md-2">More info</th>
            <th class="col-md-2">Booking</th>
        </tr>
    </thead>
    <tbody>
       <partial name="_BooksDetailsPartial" model="@Model" />
    </tbody>
</table>