@model BookViewModel

<h2>More details for book @Model.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
       <partial name="_BooksDetailsPartial" model="@Model" />
    </tbody>
</table>