@model IEnumerable<BookViewModel>

<h2>Today's book suggestions</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>more info</th>
            <th>booking</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model)
        {
            <partial name="_BooksDetailsPartial" model="book" />
        }

    </tbody>
</table>